body {
    /*background: #CCCCCC;*/
}

#mainPane {
    /*background: #999999;*/
}

#middleContainer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.subhead {
    padding-bottom: 0;
    margin-bottom: 9px;
}

.subhead h1 {
    font-size: 54px;
}

.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}

.jumbotron {
    position: relative;
    margin-top: 0;
}

.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 71px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

#playerProgress .progress,
#playerProgress .bar {
    height: 12px;
}

#playerProgress {
}

#playerControls {   
}

#playerTimer {
    top: 15px;
    position: relative;
}

.navbar-fixed-bottom .container-fluid {
    padding-top: 15px;
}

#playingInfo {
    text-align: center;
    font-size: 20px;
}
    #playingInfo a {
        color: #5EB95E;
    }
    #playingInfo a:hover {
        color: #51A351;
    }

#loading {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 2000;
    font-size: 20px;
    padding: 5px 15px;
}